:root {
  --font-korean: "Noto Sans KR", sans-serif;
  --font-inter: "Inter", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  height: 100vh;
  overflow: hidden;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* 공통 */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.basic-img-setting {
  display: block;
  width: 100%;
}

.btn-red {
  background-color: #ff5f58;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 7px;
}

.btn-yellow {
  background-color: #ffbe2f;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 7px;
}

.btn-green {
  background-color: #29c93f;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* 메인 화면 */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */

#main {
  height: 100vh;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* 기능 없을때 안내 창 */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */

#modal {
  position: fixed;
  top: 60px;
  right: 45px;
  padding: 30px 60px;
  border: 1px solid black;
  border-radius: 20px;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  box-shadow: 2px 2px 20px 5px #c2e9fb;
  z-index: 12;
}

.modal__text {
  font-family: var(--font-inter);
  font-size: 1.7rem;
  letter-spacing: -0.5px;
  line-height: 2rem;
  font-weight: 500;
}

.modal__cancel {
  position: absolute;
  width: 25px;
  height: 25px;
  top: -5px;
  left: -5px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: #c2e9fb;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

.modal__cancel:hover {
  transform: scale(1.2);
}

.modal__cancel__left,
.modal__cancel__right {
  width: 15px;
  height: 1.5px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
}

.modal__cancel__left {
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal__cancel__right {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* 배경화면 */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.main-background {
  height: calc(100vh - 25px);
  background-image: url('/public/img/main/contents/background.png');
  background-repeat: no-repeat;
  background-size: 70vw;
  background-position: center;
}

.main-contents {
  height: 90%;
  position: relative;
  /* .menubar-first-ul의 z-index: 11 */
  z-index: 10;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* 음악 앱 */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.main-music {
  position: absolute;
  right: 20px;
  top: 40px;
  width: 420px;
  height: 420px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 5px 15px 25px 5px rgba(0, 0, 0, 0.2), -5px -2px 25px 5px rgba(0, 0, 0, 0.2);
}

.main-music__btns {
  /* .main-music에 대해서 */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 7px;
  opacity: 0;
  visibility: hidden;
}

.main-music__img-box {
  width: 100%;
  height: 100%;
}

.main-music__img-box__img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.main-music__operation {
  background-color:rgba(59, 58, 58, 0.9);
   /* .main-music에 대해서 */
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  backdrop-filter: blur(3px);
  padding: 15px 0;
  border-radius: 0 0 10px 10px;
  opacity: 0;
  visibility: hidden;
}

.main-music__btns.visible,
.main-music__operation.visible {
  opacity: 1;
  visibility: visible;
}

.main-music__operation__info {
  margin-bottom: 10px;
}

.main-music__operation__info__song,
.main-music__operation__info__singer {
  font-family: var(--font-inter);
  text-align: center;
}

.main-music__operation__info__song {
  color: white;
  font-size: 1rem;
  letter-spacing: -0.5px;
  margin-bottom: 5px;
}

.main-music__operation__info__singer {
  font-size: 0.9rem;
  color: #bfbfbf;
  letter-spacing: -0.2px;
}

.main-music__operation__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.main-music__operation__btns__prev,
.main-music__operation__btns__play,
.main-music__operation__btns__next {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  height: 100%;
  padding: 5px;
  width: 30px;
}

.main-music__operation__btns__prev:hover,
.main-music__operation__btns__play:hover,
.main-music__operation__btns__next:hover {
  background-color: rgba(99, 90, 90, 0.5);
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* 폴더 */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.main-folder {
  position: absolute;
  left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.folder-bookclub {
  top: 20px;
}

.folder-choice {
  top: 130px;
}

.folder-spotify {
  top: 240px;
  left: 21px;
}

.main-folder__icon-box {
  border-radius: 5px;
  width: 75px;
  padding: 8px 4px 7px 4px;
  margin-bottom: 3px;
}

.main-folder__icon-box.clicked {
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid #C2C1BF;
}

.main-folder__icon-box__icon {
  display: block;
  width: 100%;
}

.main-folder__icon-name {
  text-align: center;
  font-family: var(--font-inter);
  font-size: 0.8rem;
  font-weight: 500;
  color: white;
  border-radius: 2px;
  padding: 2px 4px;
  width: fit-content;
  margin: 0 auto;
  letter-spacing: -0.5px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4), 2px 3px 10px rgba(0, 0, 0, 0.7);
}

.main-folder__icon-name.clicked {
  background-color: rgb(39,108,216);
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* 파일 */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.main-file {
  width: 450px;
  background-color: #323131;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  position: absolute;
  overflow: hidden;
  cursor: pointer;
}

.file-bookclub {
  top: 60px;
  left: 40px;
}

.file-choice {
  top: 80px;
  left: 80px;
}

.file-spotify {
  top: 100px;
  left: 100px;
}

.main-file__title {
  background-color: #565453;
  width: 100%;
  padding: 5px 0px;
  color: white;
  font-family: var(--font-inter);
  font-size: 0.9rem;
  letter-spacing: -0.5px;
  text-align: center;
  position: relative;
}

.main-file__btns {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: min-content;
  margin-left: 7px;
}

.main-file__files {
  display: flex;
  align-items: center;
  padding: 20px 20px 80px 20px;
}

.main-file__file {
  width: 65px;
  margin-right: 20px;
}

.main-file__file__icon-box {
  width: 60px;
  border-radius: 5px;
  padding: 5px 8px;
  margin: 0 auto;
  margin-bottom: 5px;
}

.main-file__file__icon-box.clicked {
  background-color: #565453;
}

.main-file__file__name {
  text-align: center;
  font-family: var(--font-inter);
  font-size: 0.7rem;
  color: white;
  padding: 2px 4px;
  border-radius: 2px;
  width: fit-content;
  margin: 0 auto;
  letter-spacing: -0.5px;
}

.file__readme > .main-file__file__name {
  margin-left: -4px;
}

.main-file__file__name.clicked {
  background-color: rgb(39,108,216);
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* GIF */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.main-gif {
  width: 500px;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  position: absolute;
  overflow: hidden;
  cursor: pointer;
}

.gif-bookclub {
  top: 100px;
  left: 130px;
}

.gif-choice {
  top: 170px;
  left: 180px;
}

.gif-spotify {
  top: 240px;
  left: 230px;
}

.main-gif__title {
  background-color: #d9d8d9;
  width: 100%;
  padding: 5px 0px;
  font-family: var(--font-inter);
  font-size: 0.9rem;
  letter-spacing: -0.5px;
  text-align: center;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.main-gif__btns {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: min-content;
  margin-left: 7px;
}

.main-gif__main {
  position: relative;
  height: 275px;
}

.main-gif__main__arrow {
  position: absolute;
  width: 20px;
  right: 10px;
  top: 10px;
}

.main-gif__main__arrow__img,
.main-gif__main__gif-box__img {
  width: 100%;
  display: block;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* 스티커 */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.main-sticker {
  width: 310px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50px;
  right: 430px;
  background-color: #f6eda1;
}

.main-sticker__btns {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2px 7px;
  background-color: #feea3b;
}

.main-sticker__contents {
  padding: 10px;
  height: 190px;
  overflow-y: scroll;
  font-family: var(--font-korean);
  font-size: 0.8rem;
  letter-spacing: -0.3px;
  line-height: 1rem;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* 앱 */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.main-apps {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.main-apps__main {
  z-index: 15;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 8px 8px 2px 8px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

.main-apps__main__app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-right: 8px;
  height: 49px;
  position: relative;
  cursor: pointer;
}

.main-apps__main__app:nth-child(8) {
  margin-right: 0px;
}

.main-apps__main__app__img-box {
  width: 40px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 5px;
}

.main-apps__main__app__tooltip {
  /* .main-apps__main__app에 대해서 */
  position: absolute;
  bottom: 130%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-family: var(--font-inter);
  background-color: #565453;
  font-weight: 400;
  font-size: 0.9rem;
  border: 1px solid black;
  border-radius: 7px;
  padding: 7px 12px;
  white-space: nowrap;
  display: none;
}

.main-apps__main__app__circle {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: white;
}

[data-app].dblclicked {
  animation: appDblclicked 0.4s linear;
}

@keyframes appDblclicked {
  0% { transform: translateY(0);}
  50% { transform: translateY(-30%); }
  100% { transform: translateY(0);}
}