:root {
  --font-korean: "Noto Sans KR", sans-serif;
  --font-inter: "Inter", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  height: 100vh;
  overflow: hidden;
}

.basic-img-setting {
  display: block;
  width: 100%;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* 메뉴 - 공통 */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.menu-element {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  box-sizing: content-box;
  padding: 0 13px;
  border-radius: 3px;
  cursor: pointer;
}

.menu-letter {
  font-family: var(--font-inter);
  font-size: 0.9rem;
  letter-spacing: -0.5px;
}

.menu-margin-left {
  margin-left: -4px;
}

.menu-margin-right {
  margin-right: -4px;
}

.menubar-div {
  /* .menubar-first-ul */
  position: relative;
}

.menubar-first-ul {
  /* .main-contents의 z-index: 10 */
  z-index: 11;
  /* .menubar-div */
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  padding: 5px;
}

.menubar-first-ul__li {
  border-radius: 5px;
  padding: 4px 15px 4px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* .menubar-second-ul에 대해 */
  position: relative;
}

.menubar-first-ul__li:hover {
  background-color: rgb(39,108,216);
}

.menubar-link {
  display: block;
  font-family: var(--font-inter);
  font-size: 1rem;
  letter-spacing: -0.5px;
  color: white;
}

.menubar-img-box {
  width: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menubar-second-ul {
  /* .menubar-first-ul__li에 대해 */
  position: absolute;
  width: 140px;
  top: -5px;
  left: 100%;
  border-radius: 5px;
  background-color: rgba(121, 119, 125, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.menubar-second-ul__li {
  border-radius: 5px;
  padding: 4px 15px 4px 8px;
}

.menubar-second-ul__li:hover {
  background-color: rgb(39,108,216);
}

.menu-background {
  background-color: rgba(0, 0, 0, 0.1);
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* 메뉴 - 개별 */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 25px;
  padding: 0 7px;
}

.menu-left,
.menu-right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menubar-width-portfolio {
  width: 250px;
}

.menubar-width-skills {
  width: 180px;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* 메뉴 - 개별 메뉴 width */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.menu-width-apple {
  width: 13px;
}

.menu-width-play {
  width: 16px;
}

.menu-width-bluetooth {
  width: 9px;
}

.menu-width-battery {
  width: 23px;
}

.menu-width-wifi {
  width: 17px;
}

.menu-width-siri {
  width: 15px;
}

.menu-width-datetime__time {
  margin-left: 5px;
  width: 70px;
}

